<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Products</title>
  </head>
  <body>
    <div>
      <h1>Ground Footwear Products</h1>
      <ul>
        {{#each products}}
          <li>{{this.title}}</li>
        {{/each}}
      </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/mainClient.js"></script>
  </body>
</html>